/* regole generali */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Electrolize', sans-serif;
}

body {
  background: #fff;
  animation: background-mode 3s 3s forwards; 
}


/* container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* title */
h1 {
  font-size: 55px;
  transform: translateY(-20px);
  animation: title 8s;
  opacity: 0;
}

/* regole lista */
#list {
  list-style-type: none;
}

#list .list-item {
  font-size: 20px;
  padding: 2px;
  opacity: 0;
  transform: translateX(400px) rotate(0);
  animation: fade-list-item 4s 10s forwards;
}

/* regole caricamento */
.loading {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fade-loading 7s 3.5s;
}

.loading span {
  display: inline-block;
  width: 10px;
  height: 5px;
  background-color: #8e23f9;
  animation: loading 2s linear infinite;
  position: absolute;
}

.loading span.first {
  top: 0;
}

.loading span.second {
  top: 0;
  left: 13px;
  animation-delay: .2s;
}

.loading span.third {
  top: 0;
  left: 26px;
  animation-delay: .5s;
}

.loading span.fourth {
  top: 0;
  left: 39px;
  animation-delay: .7s;
}

.loading span.fifth {
  top: 0;
  left: 52px;
  animation-delay: .9s;
}

.loading span.sixth {
  top: 0;
  left: 65px;
  animation-delay: 1.1s;
}



/****** keyframes *******/

  /* animazione titolo */
  @keyframes title {

    0% {
      transform: translateY(-20px);
      opacity: 0;
    }

    40% {
      transform: translateY(400px);
      opacity: 1;
    }

    100% {
      transform: translateY(1000px);
      opacity: 0;
    }
  }

  @keyframes fade-loading {
    0% {
      opacity: 0;
    }

    80% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }


  @keyframes loading {

    0% {
      height: 5px;
      background-color: #8e23f9;
      transform: translateY(0);
    }

    20% {
      height: 40px;
      background-color: #3498db;
      transform: translateY(-20px);
    }

    50% {
      height: 5px;
      background-color: #8e23f9;
      transform: translate(0);
    }

    100% {
      height: 5px;
      background-color: red;
      transform: translate(0);
    }
  }


  @keyframes fade-list-item {

    0% {
      opacity: 0;
      transform: translateX(400px) rotate(0);
    }

    50% {
      opacity: 1;
      transform: translateX(0) rotate(360deg);
    }

    100% {
      opacity: 1;
      transform: translateX(0) rotate(360deg);
    }
  }

  @keyframes background-mode {

    0% {
      background: #fff;
    }

    100% {
      background: #dad800;
    }
  }
